pymupdf
python-docx
pandas
scikit-learn
#PyPDF2
openpyxl
langchain_core
#langchain==0.1.9
langchain
streamlit
pydantic
#pydantic-settings==1.0.1
langchain-text-splitters
openai
pypdf
tiktoken
docx2txt
tabulate
langchain_experimental
faiss-cpu
python-dotenv